$primary: #7aca25;
$primary-light: #cdff98;
$secondary: #ff375e;
$light: rgba(128, 73, 169, 0.15);

$header-bg: #F8F8FB;
$page-bg: #eeeefd;

$white: white;
$black: black;
$dark: #1d252d;
$text-dark: #101011;
$middle: #8e9aa0;
$error: #ff375e;
$error-light: rgba($color: $error, $alpha: 0.11);
$success: #00c48c;
$success-light: rgba($color: $success, $alpha: 0.11);
