::ng-deep app-add-edit-view-gateway {
  display: flex;
  flex-direction: column;
  flex-grow: 1;

  .mat-form-field-label-wrapper {
    .mat-form-field-label {
      height: 20px;
    }
  }

  .status {
    border-radius: 2px;
    transition: all 0.25s ease;

    &.border-transparent {
      border: 1.5px solid transparent;
    }
  }

  .z-index {
    z-index: 5;
  }
}
